{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
<title>Bandanas</title>
{% endblock%} 
 
<!--Logo y redes sociales-->
<!--Menu-->
{% block content %} 
<br>
<!--Bandanas-->
<div class="contenedor">
  <br>
  <h3><strong>Bandanas</strong></h3>
  <br>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/bandana1.jpg' %}"></a>
                  <img src="{% static 'core/img/bandana1.jpg' %}" class="zoom" alt="bandana" style="width:100%">
                  <div class="caption">
                    <p>$7.990</p>
                  </div>
              </div>
            </div> 
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/bandana2.jpg' %}"> </a>
                  <img src="{% static 'core/img/bandana2.jpg' %}" alt="bandana" style="width:100%">
                  <div class="caption">
                    <p>$7.990</p>
                  </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/bandana3.jpg' %}"></a>
                  <img src="{% static 'core/img/bandana3.jpg' %}" alt="bandana" style="width:100%">
                  <div class="caption">
                    <p>$7.990</p>
                  </div>
                
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/bandana4.jpg' %}"></a>
                    <img src="{% static 'core/img/bandana4.jpg' %}" alt="bandana" style="width:100%">
                    <div class="caption">
                     <p>$7.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/bandana5.jpg' %}" alt="bandana" style="width:100%">
                    <div class="caption">
                      <p>$9.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/bandana6.jpg' %}" alt="bandana" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/bandana7.jpg' %}" alt="bandana" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/bandana8.jpg' %}" alt="bandana" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/bandana9.jpg' %}" alt="bandana" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/bandana10.jpg' %}" alt="bandana" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/bandana11.png' %}" alt="bandana" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/bandana12.png' %}" alt="bandana" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                  
                </div>
              </div>



            </div>
            <br>
          </div>

{% endblock%} 