{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
<title>Collaress</title>
{% endblock%} 
 
<!--Logo y redes sociales-->
<!--Menu-->
{% block content %} 
<!--Collares-->
<div class="contenedor">
  <br>
  <h3><strong>Collares</strong></h3>
    <br>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/collar1.jpg' %}"></a>
                  <img src="{% static 'core/img/collar1.jpg' %}" alt="collar" style="width:100%">
                  <div class="caption">
                    <p>$7.990</p>
                  </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/collar2.jpg' %}"> </a>
                  <img src="{% static 'core/img/collar2.jpg' %}" alt="collar" style="width:100%">
                  <div class="caption">
                    <p>$7.990</p>
                  </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/collar3.jpg' %}"></a>
                  <img src="{% static 'core/img/collar3.jpg' %}" alt="collar" style="width:100%">
                  <div class="caption">
                    <p>$7.990</p>
                  </div>
                
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/collar4.jpg' %}"></a>
                    <img src="{% static 'core/img/collar4.jpg' %}" alt="collar" style="width:100%">
                    <div class="caption">
                     <p>$7.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/collar5.jpg' %}"></a>
                    <img src="{% static 'core/img/collar5.jpg' %}" alt="collar" style="width:100%">
                    <div class="caption">
                      <p>$9.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/collar6.jpg' %}"></a>
                    <img src="{% static 'core/img/collar6.jpg' %}" alt="collar" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/collar7.jpg' %}" alt="collar" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/collar8.jpg' %}"></a>
                    <img src="{% static 'core/img/collar8.jpg' %}" alt="collar" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/collar9.jpg' %}"></a>
                    <img src="{% static 'core/img/collar9.jpg' %}" alt="collar" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/collar10.jpg' %}"></a>
                    <img src="{% static 'core/img/collar10.jpg' %}" alt="collar" style="width:100%">
                    <div class="caption">
                        <p>$9.990</p>
                    </div>
                
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/collar11.png' %}"></a>
                    <img src="{% static 'core/img/collar11.jpg' %}" alt="collar" style="width:100%">
                    <div class="caption">
                        <p>$7.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/collar12.png' %}"></a>
                    <img src="{% static 'core/img/collar12.jpg' %}" alt="collar" style="width:100%">
                    <div class="caption">
                        <p>$10.990</p>
                    </div>
                  
                </div>
              </div>



            </div>
            <br>
          </div>

{% endblock%} 