{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
<title>Correas</title>
{% endblock%} 
 
<!--Logo y redes sociales-->
<!--Menu-->
{% block content %} 
<!--Correas-->
<div class="contenedor">
  <br>
  <h3><strong>Correas</strong></h3>
    <br>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/correa1.jpg' %}"></a>
                  <img src="{% static 'core/img/correa1.jpg' %}" alt="correa" style="width:100%">
                  <div class="caption">
                    <p>$8.990</p>
                  </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/correa2.jpg' %}"> </a>
                  <img src="{% static 'core/img/correa2.jpg' %}" alt="correa" style="width:100%">
                  <div class="caption">
                    <p>$8.990</p>
                  </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/correa3.jpg' %}"></a>
                  <img src="{% static 'core/img/correa3.jpg' %}" alt="correa" style="width:100%">
                  <div class="caption">
                    <p>$8.990</p>
                  </div>
                
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/correa4.jpg' %}"></a>
                    <img src="{% static 'core/img/correa4.jpg' %}" alt="correa" style="width:100%">
                    <div class="caption">
                    <p>$8.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/correa5.jpg' %}"></a>
                    <img src="{% static 'core/img/correa5.jpg' %}" alt="correa" style="width:100%">
                    <div class="caption">
                        <p>$8.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/correa6.jpg' %}"></a>
                    <img src="{% static 'core/img/correa6.jpg' %}" alt="correa" style="width:100%">
                    <div class="caption">
                        <p>$8.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/correa7.jpg' %}" alt="correa" style="width:100%">
                    <div class="caption">
                        <p>$8.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/correav8.jpg' %}"></a>
                    <img src="{% static 'core/img/correa8.jpg' %}" alt="correa" style="width:100%">
                    <div class="caption">
                        <p>$8.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/correa9.jpg' %}"></a>
                    <img src="{% static 'core/img/correa9.jpg' %}" alt="correa" style="width:100%">
                    <div class="caption">
                        <p>$8.990</p>
                    </div>
                
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/correa10.jpg' %}"></a>
                    <img src="{% static 'core/img/correa10.jpg' %}" alt="correa" style="width:100%">
                    <div class="caption">
                        <p>$8.990</p>
                    </div>
                
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/correa11.jpng' %}"></a>
                    <img src="{% static 'core/img/correa11.jpg' %}" alt="correa" style="width:100%">
                    <div class="caption">
                        <p>$8.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/correa12.png' %}"></a>
                    <img src="{% static 'core/img/correa12.jpg' %}" alt="correa" style="width:100%">
                    <div class="caption">
                        <p>$8.990</p>
                    </div>
                  
                </div>
              </div>



            </div>
            <br>
          </div>

{% endblock%} 