{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
<title>Pet Shop</title>
{% endblock%} 
 
<!--Logo y redes sociales-->
<!--Menu-->
{% block content %} 
<!--Identificaciones-->
<div class="contenedor">
  <br>
  <h3><strong>Identificacion</strong></h3>
    <br>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/identificacion1.jpg' %}"></a>
                  <img src="{% static 'core/img/identificacion1.jpg' %}" alt="identificacion" style="width:100%">
                  <div class="caption">
                    <p>$5.990</p>
                  </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/identificacion2.jpg' %}"> </a>
                  <img src="{% static 'core/img/identificacion2.jpg' %}" alt="identificacion" style="width:100%">
                  <div class="caption">
                    <p>$11.990</p>
                  </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
              <div class="thumbnail">
                <a href="{% static 'core/img/identificacion3.jpg' %}"></a>
                  <img src="{% static 'core/img/identificacion13.jpg' %}" alt="identificacion" style="width:100%">
                  <div class="caption">
                    <p>$11.990</p>
                  </div>
                
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/identificacion4.jpg' %}"></a>
                    <img src="{% static 'core/img/identificacion4.jpg' %}" alt="identificacion" style="width:100%">
                    <div class="caption">
                        <p>$11.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/identificacion5.jpg' %}"></a>
                    <img src="{% static 'core/img/identificacion5.jpg' %}" alt="identificacion" style="width:100%">
                    <div class="caption">
                        <p>$11.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/identificacion6.jpg' %}"></a>
                    <img src="{% static 'core/img/identificacion6.jpg' %}" alt="identificacion" style="width:100%">
                    <div class="caption">
                        <p>$11.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg"></a>
                    <img src="{% static 'core/img/identificacion7.jpg' %}" alt="identificacion" style="width:100%">
                    <div class="caption">
                        <p>$11.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/identificacion8.jpg' %}"></a>
                    <img src="{% static 'core/img/identificacion8.jpg' %}" alt="identificacion" style="width:100%">
                    <div class="caption">
                        <p>$11.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/identificacion9.jpg' %}"></a>
                    <img src="{% static 'core/img/identificacion9.jpg' %}" alt="identificacion" style="width:100%">
                    <div class="caption">
                        <p>$11.990</p>
                    </div>
                
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/identificacion10.jpg' %}"></a>
                    <img src="{% static 'core/img/identificacion10.jpg' %}" alt="identificacion" style="width:100%">
                    <div class="caption">
                        <p>$11.990</p>
                    </div>
                
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/identificacion11.jpng' %}"></a>
                    <img src="{% static 'core/img/identificacion11.jpg' %}" alt="identificacion" style="width:100%">
                    <div class="caption">
                        <p>$11.990</p>
                    </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="thumbnail">
                  <a href="{% static 'core/img/identificacion12.png' %}"></a>
                    <img src="{% static 'core/img/identificacion12.jpg' %}" alt="identificacion" style="width:100%">
                    <div class="caption">
                        <p>$11.990</p>
                    </div>
                  
                </div>
              </div>



            </div>
            <br>
          </div>

{% endblock%} 
<br>